<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACCESS_CODE</key>
	<string>777777</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter_18pt-Light.ttf</string>
		<string>Inter_18pt-Medium.ttf</string>
		<string>Inter_18pt-Regular.ttf</string>
		<string>Inter_24pt-Light.ttf</string>
		<string>Inter_24pt-Medium.ttf</string>
		<string>Inter_24pt-Regular.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Urbanist-Medium.ttf</string>
		<string>Urbanist-Regular.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>black</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
		<key>UIImageName</key>
		<string>Logo</string>
	</dict>
</dict>
</plist>
